/* Background */ .colorscheme-dark .bg { color: #f8f8f2; background-color: #282a36; }
/* PreWrapper */ .colorscheme-dark .chroma { color: #f8f8f2; background-color: #282a36; }
/* Other */ .colorscheme-dark .chroma .x {  }
/* Error */ .colorscheme-dark .chroma .err {  }
/* CodeLine */ .colorscheme-dark .chroma .cl {  }
/* LineTableTD */ .colorscheme-dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .colorscheme-dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .colorscheme-dark .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .colorscheme-dark .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .colorscheme-dark .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .colorscheme-dark .chroma .line { display: flex; }
/* Keyword */ .colorscheme-dark .chroma .k { color: #ff79c6 }
/* KeywordConstant */ .colorscheme-dark .chroma .kc { color: #ff79c6 }
/* KeywordDeclaration */ .colorscheme-dark .chroma .kd { color: #8be9fd; font-style: italic }
/* KeywordNamespace */ .colorscheme-dark .chroma .kn { color: #ff79c6 }
/* KeywordPseudo */ .colorscheme-dark .chroma .kp { color: #ff79c6 }
/* KeywordReserved */ .colorscheme-dark .chroma .kr { color: #ff79c6 }
/* KeywordType */ .colorscheme-dark .chroma .kt { color: #8be9fd }
/* Name */ .colorscheme-dark .chroma .n {  }
/* NameAttribute */ .colorscheme-dark .chroma .na { color: #50fa7b }
/* NameBuiltin */ .colorscheme-dark .chroma .nb { color: #8be9fd; font-style: italic }
/* NameBuiltinPseudo */ .colorscheme-dark .chroma .bp {  }
/* NameClass */ .colorscheme-dark .chroma .nc { color: #50fa7b }
/* NameConstant */ .colorscheme-dark .chroma .no {  }
/* NameDecorator */ .colorscheme-dark .chroma .nd {  }
/* NameEntity */ .colorscheme-dark .chroma .ni {  }
/* NameException */ .colorscheme-dark .chroma .ne {  }
/* NameFunction */ .colorscheme-dark .chroma .nf { color: #50fa7b }
/* NameFunctionMagic */ .colorscheme-dark .chroma .fm {  }
/* NameLabel */ .colorscheme-dark .chroma .nl { color: #8be9fd; font-style: italic }
/* NameNamespace */ .colorscheme-dark .chroma .nn {  }
/* NameOther */ .colorscheme-dark .chroma .nx {  }
/* NameProperty */ .colorscheme-dark .chroma .py {  }
/* NameTag */ .colorscheme-dark .chroma .nt { color: #ff79c6 }
/* NameVariable */ .colorscheme-dark .chroma .nv { color: #8be9fd; font-style: italic }
/* NameVariableClass */ .colorscheme-dark .chroma .vc { color: #8be9fd; font-style: italic }
/* NameVariableGlobal */ .colorscheme-dark .chroma .vg { color: #8be9fd; font-style: italic }
/* NameVariableInstance */ .colorscheme-dark .chroma .vi { color: #8be9fd; font-style: italic }
/* NameVariableMagic */ .colorscheme-dark .chroma .vm {  }
/* Literal */ .colorscheme-dark .chroma .l {  }
/* LiteralDate */ .colorscheme-dark .chroma .ld {  }
/* LiteralString */ .colorscheme-dark .chroma .s { color: #f1fa8c }
/* LiteralStringAffix */ .colorscheme-dark .chroma .sa { color: #f1fa8c }
/* LiteralStringBacktick */ .colorscheme-dark .chroma .sb { color: #f1fa8c }
/* LiteralStringChar */ .colorscheme-dark .chroma .sc { color: #f1fa8c }
/* LiteralStringDelimiter */ .colorscheme-dark .chroma .dl { color: #f1fa8c }
/* LiteralStringDoc */ .colorscheme-dark .chroma .sd { color: #f1fa8c }
/* LiteralStringDouble */ .colorscheme-dark .chroma .s2 { color: #f1fa8c }
/* LiteralStringEscape */ .colorscheme-dark .chroma .se { color: #f1fa8c }
/* LiteralStringHeredoc */ .colorscheme-dark .chroma .sh { color: #f1fa8c }
/* LiteralStringInterpol */ .colorscheme-dark .chroma .si { color: #f1fa8c }
/* LiteralStringOther */ .colorscheme-dark .chroma .sx { color: #f1fa8c }
/* LiteralStringRegex */ .colorscheme-dark .chroma .sr { color: #f1fa8c }
/* LiteralStringSingle */ .colorscheme-dark .chroma .s1 { color: #f1fa8c }
/* LiteralStringSymbol */ .colorscheme-dark .chroma .ss { color: #f1fa8c }
/* LiteralNumber */ .colorscheme-dark .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ .colorscheme-dark .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ .colorscheme-dark .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ .colorscheme-dark .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ .colorscheme-dark .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ .colorscheme-dark .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ .colorscheme-dark .chroma .mo { color: #bd93f9 }
/* Operator */ .colorscheme-dark .chroma .o { color: #ff79c6 }
/* OperatorWord */ .colorscheme-dark .chroma .ow { color: #ff79c6 }
/* Punctuation */ .colorscheme-dark .chroma .p {  }
/* Comment */ .colorscheme-dark .chroma .c { color: #6272a4 }
/* CommentHashbang */ .colorscheme-dark .chroma .ch { color: #6272a4 }
/* CommentMultiline */ .colorscheme-dark .chroma .cm { color: #6272a4 }
/* CommentSingle */ .colorscheme-dark .chroma .c1 { color: #6272a4 }
/* CommentSpecial */ .colorscheme-dark .chroma .cs { color: #6272a4 }
/* CommentPreproc */ .colorscheme-dark .chroma .cp { color: #ff79c6 }
/* CommentPreprocFile */ .colorscheme-dark .chroma .cpf { color: #ff79c6 }
/* Generic */ .colorscheme-dark .chroma .g {  }
/* GenericDeleted */ .colorscheme-dark .chroma .gd { color: #ff5555 }
/* GenericEmph */ .colorscheme-dark .chroma .ge { text-decoration: underline }
/* GenericError */ .colorscheme-dark .chroma .gr {  }
/* GenericHeading */ .colorscheme-dark .chroma .gh { font-weight: bold }
/* GenericInserted */ .colorscheme-dark .chroma .gi { color: #50fa7b; font-weight: bold }
/* GenericOutput */ .colorscheme-dark .chroma .go { color: #44475a }
/* GenericPrompt */ .colorscheme-dark .chroma .gp {  }
/* GenericStrong */ .colorscheme-dark .chroma .gs {  }
/* GenericSubheading */ .colorscheme-dark .chroma .gu { font-weight: bold }
/* GenericTraceback */ .colorscheme-dark .chroma .gt {  }
/* GenericUnderline */ .colorscheme-dark .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .colorscheme-dark .chroma .w {  }
